################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/ITS.MasterBot/v15/Server/sqlite3
/AuthBot/obj/Debug
/BotToQuerySharepoint/obj/Debug
/BotToQuerySharepoint/Properties/PublishProfiles
